services:
  vaultwarden:
    image: vaultwarden/server:1.35.2-alpine # 请查阅 https://github.com/dani-garcia/vaultwarden/releases 来获取最新版本
    container_name: vaultwarden
    restart: always
    env_file: .env
    volumes:
      - ./data:/data
    ports:
      - 56666:80
    networks:
      - proxy

networks:
  proxy:
    external: true