services:
  vaultwarden:
    image: vaultwarden/server:1.35.0-alpine
    container_name: vaultwarden
    restart: always
    env_file: .env
    volumes:
      - ./data:/data
    ports:
      - 56666:80
    networks:
      - proxy

networks:
  proxy:
    external: true