services:
  vaultwarden:
    image: vaultwarden/server:1.35.0-alpine
    container_name: vaultwarden
    restart: always
    environment:
      - DOMAIN=https://vaultwarden.example.com  # 反代地址
      - SIGNUPS_ALLOWED=true      # 个人使用在注册后，改为 false 禁止他人注册
      - INVITATIONS_ALLOWED=false # 禁止邀请
      # - WEB_VAULT_ENABLED=false # 关闭web
      # WebSocket 配置
      - PUSH_ENABLED=${PUSH_ENABLED}
      - PUSH_INSTALLATION_ID=${PUSH_INSTALLATION_ID}
      - PUSH_INSTALLATION_KEY=${PUSH_INSTALLATION_KEY}
      # 邮件配置
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_FROM=${SMTP_FROM}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_SECURITY=${SMTP_SECURITY}
      - SMTP_USERNAME=${SMTP_USERNAME}
      - SMTP_PASSWORD=${SMTP_PASSWORD}

    volumes:
      - ./data:/data
    ports:
      - 56666:80
    networks:
      - proxy

networks:
  proxy:
    external: true